<div class="flex flex-col justify-center items-center mt-20">
    <div class="flex items-center gap-4">
        <div class="circle-progress-container">
            <i class="pi pi-circle circle-icon"></i>
            <div class="circle-number">{{ progress }}</div> <!-- Muestra el valor de progress dinámicamente -->
        </div>       
        <div class="flex flex-col gap-4 items-center">
            <i class="pi pi-heart" style="color: #06b6d4;"></i>
            <p class="m-0">BPM</p>
        </div>
    </div>
    <div class="text-center">
        <h4>80 BPM - Normal</h4>
        <h4>Última medida: 03/11/2024 7:56 PM</h4>
    </div>
</div>
